.event-card {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    margin: 15px;
}

.event-card__title{
    width:100%;
    font-size:16px;
    line-height: 19px;
    padding:4px;
    height:40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-card__img-container {
    width: 177px;
    height: 113px;
    margin:0;
    padding:0;
}

.event-card__img {
    height:100%;
    width:100%
    object-fit: cover;
}

.event-card__info {
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    padding:10px;
}