<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flaming Space</title>
    <script>window.__initialData__ = '<%-JSON.stringify(initialData) %>'</script>
</head>

<body>
    <div id="root"><%- reactApp%></div>
</body>

</html>