.project-card {
    width: 1140px;
    height: 244px;
    border: 2px solid #E8E8E8;
    padding: 18px 26px;
    font-size: 14px;
    border: 1px solid #C4C4C4;
    margin-bottom:19px;
    border-radius: 5px;
}
.project-card__info{
    display:grid;
    grid-template-columns: 568px 177px 151px 218px;
    grid-template-rows: 164px;
}

.project-card__block{
    height: 164px;
}
.project-card__block-title {
    font-size: 16px;
    line-height: 19px;
    color: #648FFF;
    margin-bottom: 10px;
    font-weight:500;

    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden; 
}

.project-card__block-title_left-padded{
    padding-left:16px;
}

.project-card__title-delimiter {
    margin: 0 20px;
}
/*.project-card__block-text {
    height: 137px;
    width: 550px;  
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden; 
    line-height:17px;
    margin:0;
    padding: 0;
}*/

.project-card__block-text {
    /*width: 550px; */
    width: 568px;
    line-height:17px;
    /*height: 137px;*/
    overflow: hidden;
    margin:0;
    padding: 0;

    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    /*line-height: 1.2em;*/
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 133px; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .project-card__block-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .event-card__title:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }


.project-card__block-vacancies {
    height: 120px;
    padding: 10px 0 0 15px;
    border-left: 2px solid rgba(196, 196, 196, 0.5);
    border-right: 2px solid rgba(196, 196, 196, 0.5);
}

.project-card__block-vacancies{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.project-card__block-vacancy {
    line-height:1.6rem;
    margin:0;
}

.project-card__block-status {
    display:flex;
    align-items: center;
	justify-content:center;
    height: 120px;
    padding: 0;
    display:flex;
    border-right: 2px solid rgba(196, 196, 196, 0.5);
}

.project-card__status-indicator {
    display: inline;
}

.project-card__block-events {
    height: 120px;
    margin: 0;
    padding: 18px;
}

.project-card__event-group {
    margin-bottom: 15px;
}

.project-card__event-p {
    margin:0;
    padding:0;
}

.project-card__event-title {
    font-weight: bolder;
}

/*.flex__centered{
    display: flex;
    justify-content: center;
    height: 160px;
}*/
.project-card__button {
    margin-left:523px;
    margin-bottom:18px;
}