.user-card {
    width: 210px;
    height: 411px;
    padding: 0 22px 10px 22px;
    border : 1px solid #E8E8E8;
    margin-bottom: 15px;
    border-radius: 5px;
}

.user-card__full-name {
    color: #648FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
	margin: 0 5px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-card__status {
    display:flex;
	align-items: center;
	justify-content:center;
    margin: 0;
    padding: 7px 0;
}

.user-card__img-container {
    width: 165px;
    height: 165px;
    margin:0;
    margin-bottom:10px;
    padding:0;
}

.user-card__img {
    object-fit: cover;
    width: 165px;
    height: 165px;
}

.user-card__nickname {
    color : #648FFF;
    margin: 0;
    padding: 0;
    
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.user-card__hr {
    border-top: 2px solid #E8E8E8;
}

.user-card__skills{
    margin:0;
    padding:0;
    height: 96px;
}

.user-card__skill {
    margin:0;
    padding:4px 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.user-card__button {
    display:block;
    width: 158px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    color: white;
    background-color: #648FFF;
    font-weight: 500;
    font-size: 14px;
	margin-top: 7px;
}