.button_show_details {
    display:block;
    width: 158px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    color: white;
    background-color: #648FFF;
    font-weight: 500;
    font-size: 14px;
    margin-top: 7px;
    text-decoration: none;
}