.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 17px 0;
}
.flex__space-between {
    display: flex;
    justify-content: space-between;
    justify-items: start;
}
.flex__centered{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    flex-direction: column;
    margin-bottom:20px;
}
.capture {
    margin:10px;
    padding:0;
    font-size:20px;
}

.project__heading {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.project__strip {
    display:inline-block;
    border-top: 1px solid #E8E8E8;
    width:650px;
}

.project__heading .button_functional {
    background-color: #65247F;
}