.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 17px 0;
}
.flex__space-between {
    display: flex;
    justify-content: space-between;
    justify-items: start;
}
.flex__centered{
    display:flex;
    justify-content: center;
    align-items: center;
    height:150px;
}