.search {
    display:block;
    height: 39px;
    width: 263px;
    border: 1px solid #C4C4C4;
    border-radius: 2.5px;
}

.search__field {
    width: 243px;
    padding-left:20px;
    height:39px;

    border: 1px solid #C4C4C4;
    border-right: 0;
}

.search__icon {
    width:16px;
    height:16px;
    align-self:center;
}
