.user {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}

.user__img-container {
    width: 200px;
    height: 200px;
    padding:0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.user__name-img {
    display:inline-block;
}

.user__img {
    object-fit: cover;
    height:200px;
    width:200px;
    /*box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);*/
}

.user__nickname {
    color : #648FFF;
    font-size:18px
}

.user__edit-profile-button {
    width:215px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid lightgray;
    padding:10px 12px;
    border-radius:3px;
    color: black;
}

/*.user__edit-profile-button:hover {
    color: #D3170B;
    border: 1px solid  #D3170B;
}*/

.user__edit-profile-button:visited {
    display: block;
    text-decoration: none;
    color: black;
}


.user__params_values {
    display:flex;
}

.user__param {
    width: 110px;
    color: #648FFF;
    display: inline-block;
}

.user__value {
    margin-top:14px;
    display: inline-block;
}

.contact__icon{
    margin-right:15px;
}

.user__project-slider-content {
    font-size:20px;
    width:740px;
}

.project-slider-content__item {
    padding:4px;
}

.project-slider-content__project-name{
    font-size: 20px;
    color : #648FFF;
    margin-left:10px;
    text-decoration: none;
}

.project-slider-content__project-name:hover {
    text-decoration: none;
}

.slider {
    box-sizing: border-box;
    display: inline-block;
    min-height:320px;
    font-size: 16px;
}

.slider__titles {
    cursor: pointer;
    display: flex;
    margin:-20px 0 20px 0;
}

.slider__titles > div {
    cursor: pointer;
    width: 370px;
    margin:0;
    padding: 10px;
    display: flex;
}

.slider__title-elem {
    font-size:24px;
    margin:0;
}

.slider__title-passive {
    border-bottom: 2px solid #E8E8E8;
}

.slider__title-active {
    border-bottom: 2px solid #D3170B;
}

.events {
    margin-top:50px;
    width:840px;
    margin: 0 auto;
}

.events__items{
    display: flex;
    justify-content: space-around;
}

.events__title {
    text-align: center;
    color: #648FFF;
    font-size:28px
}

.events__error {
    font-size:18px;
}