.user-card {
    width: 210px;
    height: 411px;
    padding: 0 22px;
}
.user-card__full-name {
    color: #648FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.user-card__img {
    object-fit: cover;
    width: 165px;
    height: 165px;
}
.user-card__button {
    width: 158px;
    height: 40px;
    border-radius: 7px;
    background-color: #648FFF;
    font-weight: 500;
    font-size: 14px;
    vertical-align: center;
}